@use '../tools/mixins';

.about--background-image-container {
    position: relative;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    @include mixins.flex-column-centered();
}

.about--background-image {
    object-fit: cover;
    z-index: -1;
}

.about--header {
    color: white;
    font-size: 55px;
    font-weight: 600;
}