.connect-button {
    background-color: black;
    color: white;
    height: 45px;
    width: 200px;
    margin: 15px;

    &:hover {
        background-color: white;
        color: black;
    }
}

.contact-form {
    background-color: white;
    width: 80%;
    height: 80%;
}
