@use '../design-tokens/colors';
@use '../tools/mixins';

.footer-container {
    margin-top: 80px;
    width: 100%;
}

.footer-top--section {
    @include mixins.flex-column-centered();
}


.footer-bottom--section {
    @include mixins.flex-column-centered();
    background-color: colors.$light-gray;
}

.footer-text {
    @include mixins.flex-column-centered();
    margin: 40px 0 40px 0;
}

.footer-text--chunk {
    padding: 6px;
}

.footer-text--disclaimer{
    font-size: 12px;
    margin: 20px;
}

.footer-text--contact {
    padding: 3px;
}