@use '../design-tokens/colors';
@use '../tools/mixins';

.footer-container {
    width: 100%;
}

.footer-bottom--section {
    @include mixins.flex-column-centered();
    background-color: colors.$light-gray;
}

.footer-text {
    @include mixins.flex-column-centered();
    margin: 40px 0 40px 0;
}

.footer-text--chunk {
    padding: 6px;
}