@use '../tools/mixins';
@use '../design-tokens/assets';
@use '../design-tokens/colors';

.home-background {
    @include mixins.apply-background(assets.$house-image);
    @include mixins.flex-column-centered();
}

.home-background--name {
    font-size: 45px;
    color: white;
    font-weight: 600;
}

.home-background--license {
    font-size: 20px;
    color: white;
    margin: 16px 0 16px 0;
}

.home-background--area {
    font-size: 20px;
    color: white;
}

.home-about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-testimonials {
    margin-top: 100px;
}

.home-testimonials--header {
    padding-left: 35px;
}

.home-locations {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-location--header {
    padding: 15px;
}