@use '../tools/mixins';
@use '../design-tokens/breakpoints';

.location--background-image-container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    @include mixins.flex-column-centered();
}

.location--text-container {
    @include mixins.flex-column-centered();
    padding: 30px 50px 30px 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

.location--background-image {
    object-fit: cover;
    z-index: -1;
}

.location--location-description {
    color: white;
    font-size: 18px;
    font-weight: 500px;
}

.location--location-name {
    color: white;
    font-size: 50px;
    font-weight: 700;
}