@use '../tools/mixins';

.sold-property-page {
    @include mixins.flex-column-centered();
}

.sold-property--background-image-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    @include mixins.flex-column-centered();
}
