@use '../tools/mixins';

.valuation-form--container {
    @include mixins.flex-column-centered();
    position: relative;
}

.valuation-form--close-button {
    position: absolute;
    right: 5%;
    top: 5%;
}

.valuation-form--header {
    margin: 40px 0px 15px 0px;
    font-size: 30px;
    font-weight: 600;
}